body{
    padding: 0;
    margin: 0;
}
.esi{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
.logo-icon{
height: 60px;
width: 60px;
}
.logo-icon img{
height: 100%;
width: 100%;
}
.navbar-brand{
display: flex;
}

.logo-text h1{
color: black;
}
logo-text{
    margin-top:50px;
}
.table1{ 
    
    border-radius:15px;
 } 
 td{
width: 175px;
 }
 td.matricule{
    width: 75px;
 }
 th.matricule{
    width: 75px;
 }

/* carte css */

 .carte{
    margin-top: 50px;
    border: solid 2px black;
    border-radius: 15px;
}

.image{
    height: 70px;
    width: 80px;
}
.image img{
    height: 100%;
    width: 100%;
}





